<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    </head>
    <body>
        <form action="/users/submitreg" method="post">
             Name: <input name="firstName" type="text" /> <br />
            Phone number: <input name="phno" type="text" /> <br />
             Age: <input name="age" type="text" /> <br />
              Address: <input name="address" type="text" /> <br />
            Password: <input name="password" type="password" /> <br />
            Gender: <input name="gender" type="text" /> <br />
              Email: <input name="email" type="text" /> <br />
            <input type="submit" />
        </form>
        <form action="/submitlog" method="get">
             Name: <input name="LfirstName" type="text" /> <br />
            Password: <input name="Lpassword" type="password" /> <br />
            <input type="submit" />
        </form>
    </body>
    </html>
